<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Dungeon Master</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"href="/characters">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/spells">Spells</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/items">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/classes">Classes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<! --------------------- TABLE -------------------------------- >

<div class="mx-auto px-3">
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="text-center">Spell Number</th>
            <th scope="col" class="text-center">Spell Name</th>
            <th scope="col" class="text-center">Damage</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center">(Spell ID)</td>
            <td class="text-center">Firebolt</td>
            <td class="text-center">20</td>
        </tr>
        <tr>
            <td class="text-center">(Spell ID)</td>
            <td class="text-center">Flash</td>
            <td class="text-center">10</td>
        </tr>
        </tbody>
    </table>
</div>